@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright_Yellow: hsl(71, 73%, 54%);

  --Light_Gray: hsl(204, 43%, 93%);
  --Grayish_Blue: hsl(218, 22%, 67%);
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--Light_Gray);
  font-family: "Karla", sans-serif;
}
article {
  margin: 9rem auto;
  display: grid;
  width: 50rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 0.4rem;
  box-shadow: 0px 5px 6px rgb(187, 187, 187);
}
button {
  width: 100%;
  background-color: var(--Bright_Yellow);
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0px 3px 3px rgb(132, 132, 132);
}
.summary {
  grid-column: 1 / span 2;
  padding: 25px;
  background-color: white;
}
.summary p {
  color: hsl(218, 22%, 67%);
  margin-top: 5px;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.summary h3 {
  color: var(--Cyan);
  margin-bottom: 7px;
  font-size: 1.8rem;
}
.summary h4 {
  color: var(--Bright_Yellow);
  margin-bottom: 7px;
  font-size: 1.6rem;
}
.Subscription {
  background-color: var(--Cyan);
  padding: 30px;
  color: var(--Light_Gray);
}
.Subscription h6 {
  font-size: 2rem;
  margin-top: 1rem;
}
.price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Subscription p {
  font-size: 12px;
  margin-top: 10px;
  color: var(--Light_Gray);
}
.price p {
  color: hsl(204, 43%, 93%);
}
.why_us {
  padding: 20px 70px 20px 30px;
  background-color: hsl(179, 55%, 53%);
  color: hsl(204, 43%, 93%);
}
.why_us p {
  margin-top: 10px;
  color: hsl(199, 26%, 88%);
  font-size: 13px;
}
@media screen and (max-width: 875px) {
  article {
    width: 250px;
    grid-template-columns: repeat(1, 250px);
  }
  .summary {
    grid-column: 1;
  }
  /*.Subscription {
            grid-column: 1;
                    }
    .why_us{
        grid-column: 1;
    }*/
}
